<h1>About Us</h1>
<p>Everyone can make it to the next rank above where they are today (Silver I - Gold I, Platinum II - Diamond II, etc.). We are dedicated to helping make that happen.</p>

<h1>So how do you use League Trainer?</h1>
<p>This is a way to match you up with opponents of similar ability to work on specific matchups that you are running into in Solo Queue.</p>
<p>A few ideas:</p>
	<ul>
		<li>Look at everything</li>
			<ul>
				<li>Health of both champions during lane phase and your damage</li>
				<li>Which moves you want to max first</li>
				<li>Who wins the matchup if you both play close to perfectly</li>
			</ul>
		<li>Experiment with different rune sets. The pros will oftentimes have 6-8 sets of runes customized for specific matchups. They turn these slight advantages into small wins that add up and snowball into material: kills, objectives and extra CS. You probably won't need to go that extreme, but having a few extra functional rune pages to help you get through tough matchups is VERY worth it (Like a straight armor page for instance).</li>
		<li>Practice going completely aggro. You have no pressure from the jungle so you can completely focus on your lane opponent. By practicing one thing at a time and building on what you have done before you can learn things much faster than trying to learn several pieces at of the puzzle at once.</li>
		<li> Do you just need to focus on farming and stay alive? Is this a matchup that you can't possibly win and therefore need to say that in champ select (possibly)?</li>
		<li>Practice your combos since you aren't under any real pressure to win</li>
	</ul>
	<h3>What next?</h3>
	<p>If you like your training partner ask them if play any other champions and see if you have someone you would like to take against them.</p>
	<p>Or come back here and keep on looking!</P>