<div class="jumbotron center">
	<h1>League Trainer</h1>
	<p>Learn Tough Matchups 5X as Quickly as Solo Queue.</p>
	
  <% if user_signed_in? %>
          # do something
     <% else %>
	<p>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	</p>
	<% end %>
</div>