<h1>Please Choose the Champion You Want to Train</h1>

<div id="champions" class="transitions-enabled">
	<% @champions.each do |champion| %>
  <div class="box panel panel-default">
  	<div class="panel-body">
    <%= champion.name %>
    <%= image_tag champion.image_url %>
  	</div>
  </div>
 <% end %>
</div>